<table>
<tr>
  <th>Recipe Name</th>
</tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %> <%= link_to 'Edit this Recipe', edit_recipe_path(recipe) %> | <%= link_to 'Delete this Recipe', recipe_path(recipe),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
